.scoreboard{
    display: grid;
    flex-direction: column;
    justify-content: center;
    
}
*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: red;
    color:white;
    justify-content: center;
    font-size: 50px;
    text-align:center;

}
.choices{
    margin: 20px auto 0 auto;
    height: 200px;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.choice{
    margin:20px;
    border-radius: 30%;
    
}
img{
    height: 100px;
    border-radius: 50%;
    border-color: black;
    border-width: 1rem;
    border-style: solid;
}
img:hover{
    cursor: pointer;
    border-radius: 30%;
    opacity:0.8;
    border-color: seagreen;

}
#user-score, #computer-score, #result-val{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    margin-top: 10px;
}
#result-val{
    background-color: lightblue;
    border-radius: 30%;
    padding: 20px;
}
